<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">    
    <link rel="stylesheet" type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" type= "text/css" href="/stylesheets/stylesvideo.css">
    <link rel="stylesheet" type= "text/css" href="/stylesheets/style.css">

  <title>J&M Weerstation</title>

</head>
<body>

  <div class="video2">
    <video autoplay muted loop id="myVideo">
      <source src="images/wolken3.mp4" type="video/mp4">
    </video>
    </div>

<div class="ui fixed inverted menu topnav myTopnav topnav.responsive" id="myTopnav"> 
       <div class="ui container">
        <div class="header item">
          <i class="cloud icon"></i> 
          &nbsp; J&M &nbsp; Weerstation</div>
        <a href="weatherapp" class="item">Home</a>
        <a href="weer" class="item">Weer</a>
        <a href="regenkaart" class="item">Regenkaart</a>
        <a href="nieuws" class="item">Nieuws</a>
        <a href="nieuwsbrief" class="item">Nieuwsbrief</a>
        <a href="overons" class="item">Over Ons</a>
        <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()"> -->
    </div>
</div>