<%- include("partials/header") %>

<div class="content">
<div class="input">
  <input type="text" placeholder="Plaats..." id="input_text"  autofocus>
  <input type="submit" value="Zoeken" id="submit">
  <p id="message" style="position: relative"></p>
</div>

<div class="container">
<div class="card">
  <br>
  <p id="name"></p>
  <!-- <p id="image"></p> -->
  <p id="icong"></p>
  <p id="temp"></p>
  <p id="wind"></p>
  <p id="windr"></p>
  <p id="desc"></p>
  <p id="sun"></p>
</div>
</div>
<%- include("partials/footer") %>
