<%- include("partials/header") %>

<div class="video2">
<video autoplay muted loop id="myVideo">
  <source src="images/wolken3.mp4" type="video/mp4">
</video>
</div>

<div class="container2">
<div class="nieuws">  
  <br>
  <h1> Opklaringen</h1><br>
    <p>Het klaart vannacht op brede schaal op. De temperatuur kan hierdoor met name in het oosten flink zakken. De minima liggen tussen 1 en 5 graden. De wind is overwegend westelijk en is matig tot vrij krachtig. Morgenochtend zijn er zonnige perioden. Al snel neemt de bewolking toe. Maxima liggen rond 9 graden. In het noorden kan er wat lichte regen vallen, elders blijft het droog. Zaterdag en zondag regent het op grotere schaal. De wind trekt aan en is van tijd tot tijd erg vlagerig. Maxima liggen rond 11 graden.</p>
      <br><br><br><br> <h4>bron: https://www.weerplaza.nl/</h4><br>
</div>

</div>
<%- include("partials/footer") %>
