<%- include("partials/header") %>
<div class="container2">
  <div class="nieuws">  
    <br>
      <h1> Blijf op de hoogte</h1><br>
      <p>
          Meld je aan voor onze gratis weermail  
          en ontvang elke ochtend 
          een e-mail met de 
          weersverwachting voor de komende dag.
      </p>
  </div>
</div>

<div class="content2">
<div class="input">
  <input type="text" placeholder="Voer uw e-mail adres in" id="input_text">
  <input type="submit" value="Submit" id="submit">
  <p id="message" style="position: relative"></p>
</div>
<%- include("partials/footer") %>