<%- include("partials/header1") %>

<br><b><br><br><br><br><br>

    <div class="kaart">
        <img border="0" src="https://api.buienradar.nl/image/1.0/RadarMapNL?w=700&h=765">
    </div>

<%- include("partials/footer") %>
